<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>215020346949-u6th5m965n1ha3kj0513753kf3m5ebev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.215020346949-u6th5m965n1ha3kj0513753kf3m5ebev</string>
	<key>API_KEY</key>
	<string>AIzaSyCTnQM9OO8IPCy-En-BErzOzJn34pkTApo</string>
	<key>GCM_SENDER_ID</key>
	<string>215020346949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shaneajg.AlarmTest</string>
	<key>PROJECT_ID</key>
	<string>alarm-roulette</string>
	<key>STORAGE_BUCKET</key>
	<string>alarm-roulette.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:215020346949:ios:d4da89d1751befb8e38d2c</string>
	<key>DATABASE_URL</key>
	<string>https://alarm-roulette.firebaseio.com</string>
</dict>
</plist>